{% extends 'base.html'%}

{% block content%}


<main class="container " >
  <div class="row row-cols-1 row-cols-md-2 justify-content-center d-flex align-items-center" style="height: 90vh;">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <div class="card  bg-dark text-white">
        <div class="card-body">
          <h3 class="card-title">Download MP3</h3>
          <p class="card-text">
          <form method="POST" action="{{url_for('download_mp3')}}" enctype="multipart/form-data">
            <input class="form-control my-4" type="text" placeholder="Link do Video" name="link">
            <div class="row justify-content-center">
              <div class="col-10">
                <button type="submit" class="btn btn-primary w-100 p-2 ">Baixar</button>
              </div>
            </div>
          </form>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
      <div class="card  bg-dark text-white">
        <div class="card-body">
          <h3 class="card-title">Download MP4</h3>
          <p class="card-text">
          <form method="POST" action="{{url_for('download_mp4')}}" enctype="multipart/form-data">
            <input class="form-control my-4" type="text" placeholder="Link do Video" name="link">
            <div class="row justify-content-center">
              <div class="col-10">
                <button type="submit" class="btn btn-primary w-100 p-2 ">Baixar</button>
              </div>
             
            </div>
            
          </form>
          </p>
        </div>
      </div>
    </div>


  </div>
</main>


{% endblock content%}